/* Mobile Stylesheet */


@media (max-device-width: 320px)
{
body {
    font-family: 'Actor', serif;
    background: grey;
    font-size: 12px;
    max-width: 320px;
    background-size: 100%;
}

header h1 {
  font-family: 'PT Serif', serif;
}

ul {
    list-style-type: none;
}


a, a:visited {
  color: #000;
}

a:link {
  color: #000;
}

a:hover, a:focus {
  color: #909090;
  }

footer {
  float: right;
}
}
