/* Mobile Stylesheet */
@import url('https://fonts.googleapis.com/css?family=Actor');
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');

@media (max-device-width: 320px)
{
body {
    font-family: 'Julius Sans One', serif;
    background: white;
    font-size: 12px;
    max-width: 320px;
    background-size: 100%;
}

header h1 {
  font-family: 'Julius Sans One', serif;
}

ul {
    list-style-type: none;
}


a, a:visited {
  color: #000;
}

a:link {
  color: #000;
}

a:hover, a:focus {
  color: #000;
  }

footer {
  display:block;
}

img {
  border: none;
}
