/* Print Stylesheet */

header h1 {
  text-align: center;
  font-family: 'Actor', serif;
}

body {
  font-family: 'Actor', serif;
  background-size: 100%;
  background: none;
}


h1, h3 {
  font-family: 'Actor', serif;
  font-weight: bold;
  margin: 4px;
}


p {
  border-style:none;
  margin-left: 6px;
}
