@import url('https://fonts.googleapis.com/css?family=Actor');
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');

body{
font-size: 18px;
font-family: 'Actor', sans-serif;
text-decoration: none;
padding: 0px;
}

.about{
  max-width: 960px;
  margin: 0 auto;
}

nav ul{
  padding-left: 0px;
}

header{
  background-color: rgb(102, 102, 255);
  text-align: center;
  position: relative;
  font-family: 'Julius Sans One', sans-serif;
  height: 170px;
  padding-top: 30px;
}


.nav ul {
  background-color: #cccccc;
  font-family:'Julius Sans One', serif;
  padding: 1em 0;
  padding-left: 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.nav ul a {
  color: white;
}

.nav ul a:hover {
  color: rgb(102, 102, 255);
}

.about p {
  text-transform: none;
  padding-left: none;
  line-height: 26px;
  padding-right: 9px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.videos {
  text-align: center;
}

.videos p {
  color: #999999;
  text-transform: none;
  line-height: 26px;
}

.contact p {
  text-transform: none;
  padding-left: 9px;
  padding-right: 9px;
  font-family:'Julius Sans One', serif;
  text-align: center;
  padding: 10px;
}

.resume p {
  color: #000
}

h2 {
  color: white;
}


h3{
  color:grey;
}

p {
  margin-top:0;
  margin-bottom:0;
}


li{
  padding-bottom: 6px;
  list-style: none;
  display: inline-block;
}


nav{
  text-align: center;
}


nav ul li{
  display: inline-block;
  width: 150px;
}


#toprow{
  overflow: auto;
}

#education{
  float: left;
  border: 2px solid rgb(102, 102, 255);
  min-height: 233px;
  background-color:rgb(230, 230, 230);
  width: 306px;
  padding-left: 10px;
  padding bottom: 10px;
  }


#relatedcoursework{
  float: left;
  border: 2px solid rgb(102, 102, 255);
  background-color:rgb(230, 230, 230);
  vertical-align:top;
  min-height: 200px;
  width: 306px;
  padding-left: 10px;
    min-height: 233px;
}

#profile-pic{
  border:2px solid rgb(102, 102, 255);
  position: absolute;
  left: 0px;
  top:0px;
  height: 293px;
}

#skills{
  float: left;
  border: 2px solid rgb(102, 102, 255);
  min-height: 200px;
  background-color:rgb(230, 230, 230);
  vertical-align: top;
  width: 306px;
  padding-left: 10px;
    min-height: 233px;
}

h1{
  font-size: 50px;
  color: white;
}

nav a{
  color: white;
}

a{
  text-decoration: none;

}

#contactme {
  border-style: dashed;
  color:rgb(102, 102, 255);
}

#contactme p {
  color: grey;
}

#experience{
  background-color: rgb(217, 217, 217);
  display: block;
  border: 2px solid rgb(102, 102, 255);
  margin-top:20px;
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 20px;
}

#photogallery{
  margin-top: 20px;
}

#photogallery img {
  border-color: rgb(102, 102, 255);
}


footer{
  background-color: rgb(204, 204, 204);
  display: block;
  border: 2px solid rgb(102, 102, 255);
  margin-top:15px;
  padding-left: 20px;
}

#container{
  max-width: 960px;
  min-width: 360px;
  margin:0 auto;
  padding:10px;
}

.place a {
  color: rgb(102, 102, 255);
}
